h1{

    color: black;
    line-height: 0.2;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    text-align: center;
    
}

h2{

    color: black;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

select{

    background-color: turquoise;
    text-align: center;
}

.dropdown-scale{

    background-color: yellow
}


body{

    background-color: grey;
}

div{
    text-align: center;
}

.line {
    border-bottom: 3px solid;
}